<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/app.js"></script>
</head>
<body>
  {{>header}}
<img src="https://toppng.com/uploads/preview/despicable-me-11563140454oyvbvqrpjc.png" alt="despicable me PNG image with transparent background@toppng.com">
{{>footer}}
</body>
</html>